/* "*" global reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --light-neutral: #EDE3D9;
    --very-dark-neutral: #16271f;
    --dark-neutral: #374432;
    --medium-accent: #C65859;
    --light-accent: #f4baac;
}

body {
    font-family: "Mooli", sans-serif;
    min-width: 344px;
    margin: 0 auto;
}

h1,
h3 {
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h3 {
    text-decoration-line: underline;
}

h2,
#discover-main .visits {
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: var(--medium-accent);
    text-align: center;
    padding: 10px;
    font-size: xx-large;
}

header,
footer {
    background-color: var(--very-dark-neutral);
    color: white;
    text-align: center;
    min-height: 2rem;
}

header h1 {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 1;
    font-size: 2em;
    max-width: 1400px;
    margin: 0;
}

#menu {
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--medium-accent);
    color: white;
    font-size: 1.3rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--light-accent);
    text-align: center;
    border: 2px solid var(--very-dark-neutral);
}

.nav a {
    display: none;
    flex: 1 1 100%;
    padding: 5px;
    text-decoration: none;
    color: var(--very-dark-neutral);
}

.nav a:hover {
    background-color: var(--dark-neutral);
    color: white;
}

.open a {
    display: block;
}

.active {
    font-weight: 600;
    font-size: larger;
}

#hero {
    display: block;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: var(--dark-neutral);
}

#hero img {
    display: block;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.action {
    width: 100%;
    display: block;
    margin-top: -10rem;
    margin-bottom: 5.5rem;
    z-index: 1;
    text-align: center;
}

#join {
    display: inline;
    background-image: radial-gradient(var(--light-accent), var(--medium-accent));
    box-shadow: 4px 4px 4px black;
    border: 1px solid var(--dark-neutral);
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: medium;
    cursor: pointer;
    color: black;
}

main section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info,
.spotlight {
    justify-content: center;
    background: var(--light-neutral);
    margin-top: 0;
    padding-top: 20px;
}

.info img,
.spotlight img {
    border: 2px solid var(--very-dark-neutral);
    background: white;
    width: 20rem;
    height: 15rem;
    margin: 15px;
    border-radius: 5px;
}

.info div,
.spotlight div {
    padding: 20px;
}

.events {
    background: var(--dark-neutral);
    color: white;
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.weather {
    display: block;
    text-align: center;
}

footer {
    padding: 40px;
}

#contact {
    padding: 20px;
}

/* -------------Discover Page Adjustments------------- */
aside {
    background: var(--light-neutral);
    padding: 20px;
}

aside li {
    list-style-type: disc;
    margin-left: 20px;
    padding: 2px;
}

aside p {
    padding: 2px;
}

.discover-pics div {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0;
}

.discover-pics p {
    display: block;
    text-align: center;
    margin-top: -5rem;
    background-color: #16271f;
    color: white;
    margin-bottom: 5rem;
    font-size: larger;
    padding: 10px;
    opacity: 80%;
}

/* -------------Join Page Adjustments------------- */

.fmJoin {
    display: block;
    margin: 0 auto;
    padding: 15px;
    max-width: 500px;
}

.fmJoin fieldset {
    padding: 1.5rem;
    padding-bottom: .5rem;
    margin-top: 2rem;
}

.fmJoin input[type=text],
.fmJoin input[type=email],
.fmJoin input[type=tel],
.fmJoin input[type=email],
.fmJoin textarea {
    display: block;
    min-height: 44px;
    width: 100%;
    margin-bottom: 1em;
    padding: 8px;
    color: var(--medium-accent);
    font-weight: 600;
    font-size: 110%;
}

.fmJoin legend {
    padding: 5px;
}

#membership label:not(:last-of-type) {
    display: flex;
    align-items: center;
    min-height: 44px;
}

.fmJoin input[name="member"] {
    margin-right: 6px;
    border: 1px solid red;
}

.fmJoin input[type="submit"] {
    width: 90%;
    margin: 2rem 5%;
    padding: 10px;
}