@media (min-width: 500px) {

    body {
        max-width: 1700px;
        margin: 0 auto;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    h1 {
        font-size: large;
    }
}