@media (min-width: 500px) {

    body {
        max-width: 1260px;
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 5px;
    }

    h1 {
        font-size: large;
    }

    #hero-label {
        top: 10%;
        left: 5%;
        padding: 1.2rem;
        font-size: 1rem;
    }
}